In [25]:
import pandas as pd # a pandas convention ðŸ˜…
import re           # regex library. We will use that later.

In [26]:
store_data = pd.read_csv("store_data_20230116.csv")

In [27]:
store_data.head()

   Tran ID         Cat             Item  Qty  Unit Price
0    25008     legumes  black-eyed peas  2.0        8.23
1    25008     legumes        chickpeas  2.0        5.12
2    25008      fruits           apples  2.0        9.60
3    25008      fruits           grapes  2.0        3.20
4    25044  vegetables          lettuce  3.0        9.11

In [28]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10038 entries, 0 to 10037
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tran ID     10038 non-null  int64
 1   Cat         9956 non-null   object
 2   Item        9966 non-null   object
 3   Qty         10023 non-null  float64
 4   Unit Price  10011 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 392.2+ KB

In [29]:
store_data.Cat.value_counts()

fruits        3381
legumes       3271
vegetables    3239
Vegetables      14
Legumes         12
FRUITS          12
VEGETABLES       9
Fruits           9
LEGUMES          9
Name: Cat, dtype: int64

In [30]:
store_data.Item.value_counts()

apples             911
oranges            861
black-eyed peas    852
lentils            832
broccoli           817
grapes             811
carrots            810
lettuce            806
potatos            799
bananas            798
navy beans         797
chickpeas          790
Chickpeas            6
Broccoli             6
Potatos              6
GRAPES               5
CARROTS              5
Lettuce              5
Black-eyed peas      5
Oranges              5
LETTUCE              5
Carrots              4
Bananas              4
Navy beans           3
BANANAS              3
Grapes               3
APPLES               3
CHICKPEAS            2
LENTILS              2
BROCCOLI             2
NAVY BEANS           2
Apples               2
BLACK-EYED PEAS      2
ORANGES              1
Lentils              1
Name: Item, dtype: int64

In [31]:
store_data.isna().sum()

Tran ID        0
Cat           82
Item          72
Qty           15
Unit Price    27
dtype: int64